


.Ballbox1 {
  text-align: center;
  border: 20px solid;
  background-color: blue;
  color: hsl(221, 100%, 96%);
  /* display: inline-block; */
  border-radius: 30px;

}


.allbox1 {
  text-align: center;
  border: 20px solid;
  background-color: rgb(244, 245, 247);
  color: hsl(221, 100%, 96%);
  /* display: inline-block; */
  border-radius: 30px;
  padding: 40px 40px;


}
.box1 {
  padding: 25px;
  text-align: center;
  border: px solid;
  background-color: hsl(241, 81%, 54%);
  color: hsl(221, 100%, 96%);
  display: inline-block;
  border-radius: 30px;
  font-family:  'Hanken Grotesk', sans-serif;
  background-blend-mode: normal;

}
.box1 p {font-size: small;}
.box1 h1{color:white; 
  font-size: 48px;
}
.box1 h2{color: white; font-size: larger;}
 #circle {
  border: solid hsl(234, 85%, 45%);
  width: 150px;
  height: 150px;
  background-color: hsl(234, 85%, 45%);
  border-radius: 100px;
  padding: 10px 10px;
  text-align: center;
  margin: auto;
  

}
.box2 {
  font-family:  'Hanken Grotesk', sans-serif;
  font-size: medium;
  margin: auto;
  padding: 30px;
  /* text-align: left; */
  background-color: rgb(254, 255, 255);
  display: inline-block;
  border-radius: 0px 30px 30px 0px ;
  border-left-style: hidden;
}
#sum {
  text-align: left;
  color: rgb(13, 1, 1);

}

#react {
  border: solid white;
  background-color: hsla(0, 100%, 67%, 0.216);
  color: hsl(0, 100%, 67%);
  /* display: inline-block; */
  border-radius: 15px;
  padding: 10px 10px;
  text-align: left;
}
#memo {
  border: solid white;
  background-color: hsla(39, 100%, 56%, 0.216);
  color: hsl(39, 100%, 56%);
  /* display: block; */
  border-radius: 15px;
  padding: 10px 10px;
  text-align: left;
}
#verbal {
  border: solid white;
  background-color: hsla(166, 100%, 37%, 0.216);
  color: hsl(166, 100%, 37%);
  /* display: block; */
  border-radius: 15px;
  padding: 10px 10px;
  text-align: left;
}
#visual {
  border: solid white;
  background-color:rgba(78, 33, 202, 0.216);
  color: hsla(256, 72%, 46%, 1);
  /* display: block; */
  border-radius: 15px;
  padding: 10px 10px;
  text-align: left;
}
 #sub {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 10px 75px;
  background-color: hsl(224, 30%, 27%);
  color:white;
  text-align: center;
  border-radius: 15px;
  
 }
